body{
    background-color: beige;
}
h1 {
    background-color: coral;
}
#para1 {
    background-color: azure;
}
h2 {
    background-color: chocolate;
}
#para2{
    background-color: lightblue;  
}
ul {
    background-color: darkgoldenrod;
}